@font-face {
  font-family: 'open sanslight';
  src: url('../css/fonts/OpenSans-Light-webfont.eot');
	src: url('../css/fonts/OpenSans-Light-webfont.eot?iefix') format('eot'),
	     url('../css/fonts/OpenSans-Light-webfont.woff') format('woff'),
	     url('../css/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	     url('../css/fonts/OpenSans-Light-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'open sans';
 src: url('../css/fonts/OpenSans-Regular-webfont.eot');
	src: url('../css/fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'),
	     url('../css/fonts/OpenSans-Regular-webfont.woff') format('woff'),
	     url('../css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	     url('../css/fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'open sanssemibold';
src: url('../css/fonts/OpenSans-Semibold-webfont.eot');
	src: url('../css/fonts/OpenSans-Semibold-webfont.eot?iefix') format('eot'),
	     url('../css/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
	     url('../css/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
	     url('../css/fonts/OpenSans-Semibold-webfont.svg#webfont') format('svg');
}
.fright{
	float:right;
}
.fleft{
	float:left;
}
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.ToDoApp{
	width:100%;
}
.ToDoApp .logoHdr{
	width: 100%;
    height: 55px;
    background-color: #1f1f1f;
    box-shadow: 0px -2px 0px 2px #cacccf;
    position: fixed;
    top: 0px;
	z-index:1;
}
.ToDoApp .logoHdr img{
    margin: 6px 4px;
}
.ToDoApp .contentDiv{
	width:100%;
}
.ToDoApp .contentDiv .headerDiv{
	width: 100%;
    height: 55px;
    background-color: #ebeef0;
    border-bottom: #e3e3e3 solid 1px;
	margin-top:56px;
	text-align:center;
}
.ToDoApp .contentDiv .headerDiv img{
	    margin-top: -10px;
}
.ToDoApp .contentDiv .headerDiv .hdrCount{
	margin: -8px 7px;
    width: 45px;
    background-color: #2fcc70;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
	color:white;
	font-family:open sans;
}
.ToDoApp .contentDiv .headerDiv .headerdivh2{
    font-family: open sans;
    font-size: 24px;
    text-align: center;
    padding: 14px 0px;
	color:#121b21;
	width:100%;
	margin:0px !important;
}
.ToDoApp .contentDiv .ToDoList{
	width:45%;
	margin:4% auto;
	text-align:center;
}
.ToDoApp .contentDiv .ToDoList h2{
    color: #4b6775;
    font-family: open sanssemibold;
    font-size: 26px;
	text-align:center;

}
.ToDoApp .contentDiv .ToDoList .todohdr{
	width:45%;
	text-align:center;
	margin:20px auto 25px;
	
}
.ToDoApp .contentDiv .ToDoList .todohdr h2{
	    padding: 10px 0;
}
.ToDoApp .contentDiv .ToDoList .inputdiv input{
	text-align: center;
    width: 90%;
    padding: 2.55% 0%;
    border: 1px solid #d4d4d4;
    box-shadow: #f7f7f7 2px 0px 3px 5px;
	height:15px;
}

input:focus {outline:0 !important;}
.ToDoApp .contentDiv .ToDoList .inputdiv img{
	vertical-align:middle;
}


.ToDoApp .contentDiv .ToDoList .ToDoTbl{
	width:100%;
	margin:4% auto;
	text-align:center;
	/* border:1px solid #e3e3e3; */
	font-family:open sans;
}
.ToDoApp .contentDiv .ToDoList .ToDoTbl .ToDoRow{
	border-bottom:1px solid #e3e3e3;
	padding:1%;
	line-height:3.3rem;
	background-color:#fcfcfc;
}
.ToDoApp .contentDiv .ToDoList .ToDoTbl .ToDoRow .tdhead{
    width: 76%;
    text-align: left;
    padding: 0px 0px 0px 20px;
	color:#717c82;
	font-family:open sanssemibold;
}
.ToDoApp .contentDiv .ToDoList .ToDoTbl .ToDoRow .tdIcons{
	font-size:12px;
	color:#717c82;
	font-weight:600;
	float:left;
	text-decoration:none;
	width:5%;
}
.ToDoApp .contentDiv .ToDoList .ToDoTbl .ToDoRow .tdIcons img{
	vertical-align:middle;
}
.ToDoApp .contentDiv .ToDoList .ToDoTbl .ToDoRow .borderleft{
	border-right:1px solid #e3e3e3;
	padding: 4% 20%;
}

.ToDoApp .contentDiv .ToDoList .todohdr .count{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    background-color: #f5bb58;
	margin:0 15px;
	line-height: 45px;
	color:#fff;
	font-size:20px;
	font-family:open sanssemibold;
}
.ToDoApp .contentDiv .ToDoList .todohdr  .countcnt{
	padding:18px 0;
	font-size:10px;
	font-family:open sanssemibold;
	color: #4b6775;
}
.inputcls{
	width: 76%;
	height:48px;
    text-align: left;
    padding: 0px 0px 0px 20px;
    color: #717c82;
	line-height:3rem;
    font-family: open sanssemibold;
}
.inputdiv input::-webkit-input-placeholder { color:#4b6775; font-family:open sanssemibold; font-size:16px;}
 .inputdiv input::-moz-placeholder { color:#4b6775; font-family:open sanssemibold; font-size:16px; } /* firefox 19+ */
.inputdiv input:-ms-input-placeholder { color:#4b6775; font-family:open sanssemibold;font-size:16px; } /* ie */
.inputdiv input:-moz-placeholder { color:#4b6775; font-family:open sanssemibold; font-size:16px; }

/*Album Management*/
.inputclass{
	width:25% !important;
	
}
.AlbumRow{
	
	border:1px solid #e3e3e3;
	width:90%;
	margin:30px auto;
}
.AlbumRow .Titlecls{
	margin:2% 8% 2% 0;
	   
}
.AlbumRow  label{
	font-family:open sanssemibold;
}
.AlbumRow .Titlecls #Title{
	border-color: #e3e3e3;
 }
.AlbumRow .Artistcls{
	margin:2% 8% 2% 0;
}
.AlbumRow .Artistcls #Artist{
	border-color: #e3e3e3;
 }
.AlbumRow .Releasecls{
	margin:2% 0 2% 0;
}
.AlbumRow .Releasecls #Release{
	border-color: #e3e3e3;
 }
.AlbumRow img{
	margin: 3% 0 0 0;
}
.AlbumTbl{
	border:1px solid #e3e3e3;
	width:90%;
	margin:30px auto;
	background-color:#fafafa;
}
.AlbumTbl header{
	font-family: open sanssemibold;
    padding: 0.1%;
    background-color: #66ba69;
    border-bottom: 1px solid #e3e3e3;
    
}
.AlbumTbl header h5{
	font-size: 18px;
	margin: 0.82rem 0 0.656rem 10px;
}
.AlbumTbl .rowhead span{
	margin: 1% 5% 1% 1%;
	font-family:open sanssemibold;
}
.AlbumTbl .rowhead{
	padding: 1.5% 1% 1.5% 0;
	border-bottom:1px solid #e3e3e3;
}
.AlbumTbl .albumTblList{
	padding: 1% 1% 1% 0%;
}
.AlbumTbl .albumTblList .AlbumLbl{
	margin:1%;
	width: 7%;
	font-size: 14px;
    color: #4b6775;
	font-family:open sanssemibold;
}
.AlbumTbl .albumTblList .albumTblBtn{
	width:12%;
}
.AlbumTbl .albumTblList .albumTblBtn .tdIcons{
	
	color:#717c82;
	font-weight:600;
	text-decoration:none;
	
}
.AlbumTbl .albumTblList .albumTblBtn .tdIcons img{
	vertical-align:middle;
	padding:8px 0 0 0;
	margin: 3.5% 5px 0 0;
   
}
.AlbumTbl .albumTblList .albumTblBtn .tdIcons .borderleft{
	border-right:1px solid #e3e3e3;
	padding: 6% 20%;
}
.AlbumTbl .albumTblList .albumTblBtn .tdIcons h5{
	    font-size: 13px;
    margin: 0.62rem 7px 0.656rem 0;
    font-family: open sanslight;
}
.overall{
	width:30% !important;
	float:left;
}
.inputclas{	
	width: 25% !important;
    margin: 0px 15px 5px 3% !important;
	color:#165416;
	font-family:open sanssemibold;
}
.addList{
	   margin: 3.5% 0 0 0;
    width: 3%;
    -webkit-appearance: none;
    border: none;
    height: 30px;
    /* background-position: 10px 45px; */
    background: url("../images/add.png")no-repeat;
}
.saveList{
	margin: 3.5% 0 0 0;
    width: 20%;
    -webkit-appearance: none;
    border: none;
    height: 30px;
    background: url("../images/save.png")no-repeat;
}
.saveListContent {
       width: 25%;
    -webkit-appearance: none;
    border: none;
    height: 30px;
    background: none;
    font-family: open sanslight;
    margin-right: 5px;
    font-size: 14px;
}

#inputdiv{
	    font-family: open sanssemibold;
    color: #006400;
}
#inputdiv input{
	border-color:#9e9e9e;
}
#titlelbl{width:7% !important}
#artistlbl{width:7.6% !important}

#inputdiv input:focus::-webkit-input-placeholder { color:transparent; }
#inputdiv input:focus:-moz-placeholder { color:transparent; }